.container {
  position: relative;
  width:600px;
  margin: 60px auto;
  text-align: center;
}

#slider {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  position: relative;
  width: 600px;
  height: 400px;
  border: 1px solid;
}

#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width:600px;
  max-height:400px;
}

#dots {
  list-style:none;
  padding:0px;
  margin-bottom: 8px;
}

#dots li {
  display:inline-block;
  border-radius:10px;
  width:10px;
  height:10px;
  margin: 0 5px;
  border:2px solid #6282c1;
  background: white;
  cursor:pointer;
}

#dots li.active {
  background:#6282c1;  /* blue */
}

.arrow{
  position:absolute; 
  width:50px; 
  z-index:2; 
  top:40%; 
}

.prev{
  left:0;
}

.next{
  right:0;
}

.btn_delete{
  background-color: red;
    margin: 5px;
    padding: 5px;
  position:absolute; 
right: 10px;
      z-index:1000; 
}